nav.breadcrumb,
nav.breadcrumb .drop-container {
    z-index: 1000;
}

nav.breadcrumb .drop-container {
    position: relative;
    padding: 10px 0;
}

nav.breadcrumb .drop-container:hover .drop {
    display: block;
}

nav.breadcrumb .drop-container .drop {
    display: none;
    position: absolute;
    background-color: white;
    left: -10px;
    top: 25px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    z-index: 1;
}

nav.breadcrumb .drop-container .drop a {
    display: block;
    padding: 0px 0px;
    white-space: nowrap;
}

nav.breadcrumb .drop-container>span::after {
    content: "\25BC";
    margin: 0 0.3em;
    color: #bbb;
}

nav.root-menu .active,
/* nav.breadcrumb .active, */
nav.leaves .active {
    font-weight: bold;
}

nav.breadcrumb ol,
nav.breadcrumb ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav.breadcrumb ol>li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

nav.breadcrumb ul>li {
    padding: 0;
    margin: 5px 0;
}

nav.breadcrumb ol>li::after {
    content: "/";
    margin: 0 0.5em;
}

nav.breadcrumb ol>li:last-child:after {
    content: ":";
    margin: 0;
}

nav.root-menu {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

nav.root-menu>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-right: 1px solid #ccc;
    margin-right: 10px;
    padding: 10px 0;
}

nav.root-menu>div:last-child {
    border-right: none;
}

nav.root-menu div.root-menu-group-header {
    display: flex;
}

nav.root-menu div.root-menu-group-items {
    display: flex;
    flex-direction: row;
}

nav.root-menu div.root-menu-item {
    padding-right: 10px;
}

nav.leaves-menu-large {
    margin: 30px 0;
    font-size: 120%;
}

nav.leaves-menu-large div.root-menu-item {
    margin: 0 0 10px 0;
}

nav.main-menu {
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    padding: 0 10px;
    margin: 10px -10px 0 -10px;
}