body {
    margin: 0;
    padding: 10px;
    background-color: white;
    color: black;
}

h3 {
    font-size: 20px;
}

p,
input,
textarea,
select,
label {
    font-size: 15px;
}

ul {
    list-style: disc;
}

ol,
ul {
    margin-left: 1em;
    padding: 0px 0px 0px 20px
}

.tuja-item-buttons button {
    padding: 5px 7px;
    font-size: 15px;
}

img {
    max-width: 100%;
    max-height: 40vh;
}

.tuja-field>label {
    font-weight: normal;
}