.tuja-templateeditor {
    display: flex;
}

.tuja-templateeditor > div {
    flex: 1
}

.tuja-templateeditor > div.controls {
    flex: 0;
    position: relative;
}

.tuja-templateeditor div.tooltip a {
    text-decoration: none;
}

.tuja-templateeditor div.tooltip div.tooltip-content {
    display: none;
}

div.tooltip-content div.placeholder {
    display: block;
    font-family: monospace;
    font-size: 90%;
}

.tuja-templateeditor iframe {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
}

.tuja-templateeditor textarea {
    width: 100%;
    display: block;
}