.toplevel_page_tuja #wpcontent {
	padding: 0 20px;
}

.tuja ol,
.tuja ul {
    padding: 0 0 0 1em;
    margin: 0
}

.tuja li {
    margin: 0.2em 0 0.2em 1em;
}

.tuja ul {
    list-style-type: disc;
}

nav.tuja {
    font-size: 125%;
    margin: 0 0 2em 0;
}

.tuja-admin-question {
    margin: 1em 0;
    padding: 1em 0 0 0;
    border-top: 1px solid #aaa;
}

.tuja-admin-question:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}

.tuja-admin-question label {
    display: block;
}

.tuja-admin-question input,
.tuja-admin-question textarea,
.tuja-admin-question select {
    display: block;
	width: 100%;
	max-width: 70em;
}

.tuja-admin-question-preview {
    border: 1px solid #aaa;
    background-color: white;
    margin: 1em 0;
    padding: 1em;
}

.tuja-admin-question-preview p {
    margin: 0 0 0.5em 0;
    border-bottom: 1px solid #ddd;
}

.tuja-admin-question-preview input {
    width: auto;
}

.tuja-admin-question-properties {
    display: flex;
    flex-wrap: wrap;
}

.tuja-admin-question-properties textarea {
	margin-bottom: 5px;
}

.tuja-admin-question-property {
    width: 30em;
    margin: 0 1em 1em 0;
}

.tuja-admin-question-property.tuja-admin-question-short {
    width: 19.33em;
}

.tuja-admin-question-preview {
    width: 50%;
}

body.wp-admin th {
    text-align: start;
}

.tuja-groupcategory-template,
.tuja-messagetemplate-template {
    display: none;
}
.tuja-messagetemplate-form {
    border-bottom: 1px solid #ccc;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}

div.tuja-messagetemplate-collapsible .tuja-messagetemplate-collapsecontrol > a > span:nth-child(1) {
    display: none;
}
div.tuja-messagetemplate-collapsible .tuja-messagetemplate-collapsecontrol > a > span:nth-child(2) {
    display: block;
}
div.tuja-messagetemplate-collapsible.tuja-messagetemplate-collapsed .tuja-messagetemplate-collapsecontrol > a > span:nth-child(1) {
    display: block;
}
div.tuja-messagetemplate-collapsible.tuja-messagetemplate-collapsed .tuja-messagetemplate-collapsecontrol > a > span:nth-child(2) {
    display: none;
}
div.tuja-messagetemplate-collapsible.tuja-messagetemplate-collapsed .tuja-messagetemplate-content {
    display: none;
}
.tuja-message-preview {
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
}
.tuja-message-preview p {
    margin: 5px !important;
}
.tuja-message-preview.tuja-message-preview-plaintext {
    white-space: pre;
}

.tuja-message-preview.tuja-message-preview-html ul {
    list-style: disc;
}

.tuja-message-preview.tuja-message-preview-html li {
    margin: 0 0 6px 24px;
}
.tuja-tab {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 10px;
    margin: 0 0 10px 0;
}
table.tuja-admin-review {
    border-collapse: collapse;
}
table.tuja-admin-review th {
    padding: 0 10px;
}
table.tuja-admin-review tr.tuja-admin-review-form-row td:nth-child(2),
table.tuja-admin-review tr.tuja-admin-review-question-row td:nth-child(2) {
    padding: 2em 1em 1em 0;
}

table.tuja-admin-review td div.spacer {
    width: 1em;
}

tr.tuja-admin-review-correctanswer-row td div.spacer,
tr.tuja-admin-review-response-row td div.spacer {
    width: 4em;
}

tr.tuja-admin-review-correctanswer-row td {
    padding: 0.5em 0;
}
table.tuja-admin-review th,
table.tuja-admin-review td {
    padding: 0.3em 1em 0.3em 0;
}
tr.tuja-admin-review-response-row td {
    border-top: 1px solid #aaa;
}
tr.tuja-admin-review-question-row td:first-child,
tr.tuja-admin-review-correctanswer-row td:first-child,
tr.tuja-admin-review-response-row td:first-child {
    border-top: none;
}

tr.tuja-admin-review-response-row a.tuja-admin-review-group-link {
    white-space: nowrap;
    max-width: 15em;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
}

.tuja-admin-review-response-row input[type=number] {
    width: 4em;
}

tr.tuja-admin-review-response-row.question-group td {
	border: none;
	font-weight: bold;
}

span.tuja-admin-review-autoscore, span.tuja-admin-groupstatus {
    display: inline-block;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    padding: 3px 5px;
    white-space: nowrap;
}
span.tuja-admin-review-autoscore.tuja-admin-review-autoscore-good {
    background-color: #d0e8af;
    border-color: #719158;
}
span.tuja-admin-review-autoscore.tuja-admin-review-autoscore-poor {
    background-color: #ffafa7;
    border-color: #b96460;
}
span.tuja-admin-review-autoscore.tuja-admin-review-autoscore-decent {
    background-color: #ffef9c;
    border-color: #b5a556;
}

span.tuja-admin-groupstatus.tuja-admin-groupstatus-created {
    background-color: #ffef9c;
    border-color: #b5a556;
}

span.tuja-admin-groupstatus.tuja-admin-groupstatus-awaiting_approval {
    background-color: #ffafa7;
    border-color: #b96460;
}

span.tuja-admin-groupstatus.tuja-admin-groupstatus-accepted {
    background-color: #d0e8af;
    border-color: #719158;
}

span.tuja-admin-groupstatus.tuja-admin-groupstatus-incomplete {
    background-color: #ffef9c;
    border-color: #b5a556;
}

span.tuja-admin-groupstatus.tuja-admin-groupstatus-awaiting_checkin {
    background-color: #ffef9c;
    border-color: #b5a556;
}

span.tuja-admin-groupstatus.tuja-admin-groupstatus-checkedin {
    background-color: #d0e8af;
    border-color: #719158;
}

span.tuja-admin-groupstatus.tuja-admin-groupstatus-checkedout {
    background-color: #ccc;
    border-color: #888;
}

span.tuja-admin-groupstatus.tuja-admin-groupstatus-deleted {
    background-color: #ccc;
    border-color: #888;
    text-decoration: line-through;
}
.tuja-admin-messages {
    display: flex;
    flex-direction: column;
}
.tuja-admin-message {
    display: flex;
    flex: 1;
    border: 1px solid #ccc;
    margin-bottom: 0.5em;
    padding: 0.5em;
}
.tuja-admin-message-preview {
    flex-basis: 250px;
}
.tuja-admin-message-preview img {
    display: block;
}
.tuja-admin-message-metadata {
    flex: 1;
}

.tuja-admin-noresponse {
    font-style: italic;
    color: #aaa;
}

div.tuja-admin-review-change-autoscore-container {
    white-space: nowrap;
}

div.tuja-admin-review-change-autoscore-container span.tuja-admin-review-corrected-autoscore {
    display: none;
}

div.tuja-admin-review-change-autoscore-container span.tuja-admin-review-original-autoscore {
    display: inline;
}

div.tuja-admin-review-change-autoscore-container.tuja-admin-review-autoscore-changed span.tuja-admin-review-corrected-autoscore {
    display: inline;
}

div.tuja-admin-review-change-autoscore-container.tuja-admin-review-autoscore-changed span.tuja-admin-review-original-autoscore {
    display: none;
}

div.tuja-admin-report-config h3 {
    display: none;
}

div.tuja-admin-report-config > div > div {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

div.tuja-admin-report-config label {
    font-weight: normal !important;
}

div.tuja-admin-questiongroup-form {
    width: 100%;
}
div.tuja-admin-questiongroup-form > div > h3 {
    display: none;
}

div.tuja-admin-questiongroup-form > div > div {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

div.tuja-admin-questiongroup-form label {
    font-weight: normal !important;
}
div.tuja-admin-questiongroup-form div.row h3 {
    font-weight: normal !important;
    font-size: inherit;
    color: inherit;
    margin: 0;
}

div.tuja-admin-questiongroup-form table.je-table thead {
    display: none;
}
div.tuja-admin-questiongroup-form div.je-indented-panel {
    padding-left: 0 !important;
    margin-left: 0 !important;
    border-left: none !important;
}

input.tuja-ticket-couponweight {
    width: 4em;
}

tr.tuja-person-status-deleted td {
    color: #aaa;
    text-decoration-line: line-through;
}