body {
    background-color: white;
    color: black;
}

h1, h2, h3, p, div {
    margin: 1rem;
}

table {
    border-collapse: separate;
    border-spacing: 1rem 0rem;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 0.3rem 1rem 0.3rem 0rem;
    vertical-align: top;
}

tr.print-form td {
    height: 2.5rem;
    vertical-align: bottom;
}

td.write-line {
    border-bottom: 0.05rem solid black;
}

@media print {
    div.hide-on-print {
        display: none;
    }
}

ul {
    padding-left: 1em;
}

article.expense-report .note {
    font-size: 90%;
    font-style: italic;
}

article.expense-report {
    break-after: page;
}

article.expense-report h1,
article.expense-report h2,
article.expense-report h3,
article.expense-report div {
    margin: 0;
}

article.expense-report .expense-report-label {
    width: 2.5cm;
}

article.expense-report section.header {
    display: flex;
    justify-content: space-between;
}

article.expense-report section.title {
    display: flex;
}

article.expense-report section.inputs {
    display: flex;
    flex-direction: column;
}

article.expense-report section.body {
    display: flex;
    justify-content: space-between;
}

article.expense-report section.for-cashier {
    border: 0.02pt solid black;
    padding: 0.3cm;
}

article.expense-report section.inputs section {
    margin-bottom: 1cm;
}

article.expense-report .expense-report-input {
    display: flex;
    align-items: flex-end;
}

article.expense-report .expense-report-label {
    
}

article.expense-report .expense-report-line {
    width: 6cm;
    border-bottom: 0.05pt solid black;
    height: 1cm;
    line-height: 1.5cm;
    padding: 5pt;
    font-family: monospace;
    font-size: 18pt;
}

article.expense-report .for-cashier .expense-report-line {
    width: 3cm;
}

article.expense-report .expense-report-receipt-placeholder p {
    text-align: center;
}

article.expense-report .expense-report-receipt-placeholder,
article.expense-report section.inputs {
    margin-top: 1cm;
}

article.expense-report .expense-report-receipt-placeholder {
    border: 0.05pt dashed black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    height: 20cm;
    width: 9cm;
}

article.expense-report .expense-report-receipt-note {
    margin-top: 5cm;
}

article.expense-report section.inputs-qr {
    border: 0.05pt dashed black;
    padding: 0.5cm;
    width: 7.8cm;
    border-radius: 0.25cm;
}

article.expense-report section.inputs-qr p {
    margin: 0;
}

article.expense-report section.inputs-qr div.qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article.expense-report section.inputs-qr img.qr-code {
    margin-top: 0.5cm;
}