.tuja-signup-person {
    /*margin: 0 0 0.5em 0;*/
    /*padding: 1em;*/
    /*border: 1px solid #ccc*/
}

.tuja-signup-person:not(:first-child) {
    margin: 1em 0;
    padding: 1em 0;
    border-top: 1px solid #ccc
}

.tuja-message,
.tuja-field textarea,
.tuja-field select,
.tuja-field input[type=text],
.tuja-field input[type=password],
.tuja-field input[type=email],
.tuja-field input[type=url],
.tuja-field input[type=tel],
.tuja-field input[type=date],
.tuja-field input[type=datetime],
.tuja-field input[type=datetime-local],
.tuja-field input[type=time],
.tuja-field input[type=month],
.tuja-field input[type=week],
.tuja-field input[type=number],
.tuja-field input[type=search] {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.tuja-field input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    color: #999;
}

.tuja-field input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999;
}

.tuja-field input::-ms-input-placeholder { /* Microsoft Edge */
    color: #999;
}

.tuja-question-group .tuja-question-group-title {
    font-size: 1.25em;
    padding: 10px 0;
}

.tuja-field > label {
    display: block;
    margin: 0 0 5px 0;
    font-weight: bold;
}

.tuja-fineprint {
    margin-top: 1.5em;
    font-size: 80%;
    font-weight: normal;
    line-height: 1.5em;
}

.tuja-help,
.tuja-question-hint {
    font-size: 80%;
    font-weight: normal;
    color: #666;
    display: block;
    line-height: 1.5em;
}

.tuja-item-buttons {
    margin: 0.5em 0 0 0;
    line-height: 1.2;
}

.tuja-item-buttons.tuja-item-buttons-right {
    text-align: right;
}

.tuja-item-buttons.tuja-item-buttons-center {
    text-align: center;
}

.tuja-item-buttons button {
    padding: 1em 1.2em;
    font-size: 80%;
}

.tuja-buttons {
    margin: 1em 0 0 0;
}

.tuja-message {
    border: 1px solid;
    margin: 1em 0;
    border-radius: 0.2em;
}

.tuja-message,
p.tuja-message:last-child /* <--- Overrides other styling from tunnelbanejakten.se */
{
    padding: 0.5em;
}

.tuja-message.tuja-message-error {
    border-color: lightcoral;
    color: darkred;
    background-color: #ffdddd;
}

.tuja-message.tuja-message-warning {
    border-color: #f0cb81;
    color: #8a5c00;
    background-color: #fff4de;
}

.tuja-message.tuja-message-success {
    border-color: #81f081;
    color: #008a00;
    background-color: #deffde;
}

.tuja-message.tuja-message-info {
    border-color: #81a6f0;
    color: #002e8a;
    background-color: #e0ebff;
}

.tuja-robot-check {
    margin: 1em 0;
}

.tuja-field input:invalid,
.tuja-field-error input {
    border-color: lightcoral !important;
}

.tuja-tickets {
    margin: 0 0 1em 0;
}

.tuja-ticket {
    margin: 10px 0 0 0;
    padding: 10px;

    color: rgba(0, 0, 0, 0.6);
    text-align: center;

    border-radius: 5px;
    border: none;
    box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; /* Include padding and border in element's width and height */
}

.tuja-ticket-station {
    font-size: 125%;
}

.tuja-ticket-word {
    font-size: 300%;
    font-weight: bolder;
}

.tuja-ticket-word-description {
    margin: 10px 0;
    font-size: 80%;
}

.tuja-field-error .tuja-message {
    font-size: 80%;
    margin-top: 0;
    border-top-width: 0;
}

.tuja-field.tuja-fieldimages ~ .tuja-message {
    border-top-width: 1px;
    margin-top: 5px;
}

.tuja-fieldchoices {
    width: unset !important;
}

.tuja-fieldimages-radiobutton,
.tuja-fieldchoices-radiobutton {
    margin-bottom: 5px;
}

.tuja-fieldimages-radiobutton label,
.tuja-fieldchoices-radiobutton label {
    display: inline;
}

.tuja-fieldchoices-checkbox label {
    display: inline;
}

.tuja-fieldimages .tuja-image {
    display: flex;
    flex-direction: row;
}

.tuja-fieldimages .tuja-image > div {
    flex: 1;
}

.tuja-fieldimages .tuja-image-select {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.tuja-fieldimages .tuja-image-select.dropzone,
.tuja-fieldimages .tuja-image-select.dropzone > * {
    cursor: pointer;
}

.tuja-fieldimages .tuja-image-select.dropzone {
    min-height: 0;
    padding: 0;
    text-align: center;
}

.tuja-image .dz-image img {
    margin: 0;
}

.tuja-image .dropzone .dz-preview {
    margin: 5px;
}

.tuja-image .dz-preview ~ label,
.tuja-image .dz-preview ~ p,
.tuja-image .dropzone .dz-preview .dz-details {
    display: none;
}

.tuja-image .dropzone .dz-preview .dz-image {
    border-radius: 0;
}

.tuja-image .dropzone .dz-preview .dz-image img {
    /* Height and width matches default Dropzone values. */
    height: 120px;
    width: 120px;
    object-fit: contain;
    object-position: center center;
}

.tuja-image .dropzone .dz-preview:hover .dz-image img {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-filter: none;
    filter: none;
    opacity: 0.75;
}

.tuja-image-preview img {
    display: block;
}

.tuja-image.tuja-image-existing {
    margin: 0 0 0.5em 0;
}

.tuja-question {
    margin-bottom: 1.25em;
}

.tuja-question input[disabled],
.tuja-question textarea[disabled] {
    background: #f5f5f5;
}

.tuja-person-template {
    display: none;
}

@media (max-width: 768px) {
    .tuja-fieldimages .tuja-image {
        flex-direction: column;
    }

    .tuja-fieldimages .tuja-image > div {
        margin-bottom: 10px;
    }
}

div.tuja-swish-qr-code-wrapper {
    margin: 2em 0;
}
@media (min-width: 769px) {
    div.tuja-swish-qr-code-wrapper {
        display: flex;
        justify-content: center;
        margin: 3em 0;
    }

    img.tuja-swish-qr-code {
        max-height: 200px;
        max-width: 200px;
    }
}
