.tuja-signup-person {
    margin: 0;
    padding: 1em 0;
}

.tuja-field,
.tuja-item-buttons {
    margin: 0.5em 0 0 0;
}

.tuja-field label {
    margin: 0;
}

.tuja-question-hint {
    font-size: 80%;
    font-weight: normal;
    color: #666;
}

.tuja-item-buttons {
    text-align: right;
}

.tuja-item-buttons button {
    font-size: 80%;
}

.tuja-message {
    border: 1px solid;
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 0.2em;
}

.tuja-message.tuja-message-error {
    border-color: lightcoral;
    color: darkred;
    background-color: #ffdddd;
}
.tuja-message.tuja-message-success {
    border-color: #81f081;
    color: #008a00;
    background-color: #deffde;
}
.tuja-robot-check {
    margin: 1em 0;
}